/* CodeMirror */
.cm-editor {
  background-color: var(--editor-bg) !important;
  background: var(--editor-bg) !important;
  color: var(--text-primary-color) !important;
  font-size: 19px;
  font-family: 'Cascadia Code' !important;
  height: 100% !important;
}
.cm-keyword {
  color: #35c16d !important;
}
.cm-number {
  color: #80caff !important;
}
.cm-atom {
  color: #ffb01f !important;
}
.cm-string {
  color: #2494c9 !important;
}
.cm-bracket {
  color: #896f54 !important;
}
.cm-cursor {
  border-color: rgb(90, 141, 204) !important;
  border-width: 2px !important;
}
/* vim */
.cm-fat-cursor {
  background: rgb(90, 141, 204) !important;
  outline: solid 1px rgb(90, 141, 204);
}
.cm-selectionBackground {
  background-color: #0e4576 !important;
  color: white !important;
}
.cm-gutter, .cm-activeLineGutter {
  background-color: var(--editor-bg) !important;
}

.cm-gutters {
  border-width: 0 !important
}
.cm-lineNumbers {
  color: #584332 !important;
}

/* Symbol info on hover */
.cm-info-shown {
  background-color: #342f2b;

}
#cm-info-loading-meter {
  position: absolute;
  height: 5px;
  width: 30px;
  background: #242424;
  overflow: hidden;
}
#cm-info-loading-meter > span {
  width: 100%;
}
#cm-info-loading-meter span {
  display: block;
  height: 100%;
}
#cm-info-loading-meter .bar {
  background-color: var(--active-secondary-color);
  animation: cmInfoProgressBar 1.0s linear;
}
@keyframes cmInfoProgressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
.cm-symbol-info {

  position: absolute;
  background-color: var(--pane-bg);
  max-height: 350px;
  max-width: 650px;
  flex-direction: column;
  overflow: hidden;
}
.cm-symbol-info__tab-header {
  cursor: pointer;
  padding: 7px 14px;
  background-color: var(--pane-bg);
  color: var(--text-secondary-color);
}
.cm-symbol-info__tab-header:hover {
  background-color: rgb(52 47 41);
}
.cm-symbol-info__tab-header.active {
  color: var(--active-primary-color);
  background-color: rgb(59, 53, 46);
}
/* End Symbol info on hover */


/* End CodeMirror */