@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  src: URL('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  src: URL('../fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Cascadia Code';
  font-weight: normal;
  src: URL('../fonts/CascadiaCode.ttf') format('truetype');
}
@font-face {
  font-family: 'Cascadia';
  font-style: italic;
  src: URL('../fonts/CascadiaCodeItalic.ttf') format('truetype');
}

/* Layout */
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--editor-background-color);
  color: var(--text-primary-color);
  font-family: Rubik, Verdana, monospace !important;
}

:focus {
  outline: none !important;
}
/* Firefox */
html {
  scrollbar-color: var(--c-scrollbar-fg) var(--c-scrollbar-bg);
  scrollbar-width: thin;
}


/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  background-color: var(--c-scrollbar-bg)
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar-fg);
  border-radius: 5px;
}
/* Top layout */
#app-wrapper {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: var(--editor-bg);
}
/* End Top layout */

/* Basic element styling */
a {
  color: #0b7aad;
  text-decoration: underline;
}
a:hover {
  color: #0f8dc7;
}

mark {
  background-color: var(--active-secondary-color);
}
input {
  background: rgb(53 47 39);
  border: 1px solid rgb(71 60 46);
  border-radius: 3px;
  color: rgb(230, 207, 179);
  padding: 7px 9px;
  font-size: 18px;
  box-sizing: border-box;
  clear: left;
}
input::placeholder {
  color: var(--text-secondary-color);
  opacity: 0.8;
  font-family: 'Rubik' !important;
}
input:disabled, input.disabled {
  color: #685b44 !important;
  background: #2e2922 !important;
  border-color: #3c3327 !important;
  pointer-events: none;
}
input[type="number"] {
  font-size: 13px;
}
input[type="radio"] {
  margin: 0;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
input[type="checkbox"]:checked {
  background-color: var(--active-primary-color);
}
input.invalid {
  border-color: var(--text-danger-color) !important;
}
hr {
  border-color: #b99272;
}
button {
  box-sizing: border-box;
  padding: 7px 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #b99272;
  cursor: pointer;
  background: rgb(55 48 39);
  border-radius: 4px;
  border: 1px solid #483d33;
  text-transform: uppercase;
  font-family: 'Rubik';
}
button:hover {
  filter: brightness(1.1);
}
button.active, svg.checked, svg.active {
  color: #6cedb1;
  border-color: #38976b;
  fill: #38976b;
}


button.disabled {
  pointer-events: none;
  cursor: default;
}

.btn-icon.disabled {
  opacity: 0.8;
  color: #5f4733;
}
.btn-icon.icon-only {
  border: none;
  box-shadow: none;
  background: transparent;
}
.btn-icon.icon-only:hover {
  background-color: #302a24;
}

.btn-square-100 {
  width: 100px;
  height: 100px;
}

button.delete {
  background-color: #9d385d;
  color: white;
  border-color: #c15079;
}
button.delete.disabled {
  opacity: 0.6;
  color: #c6c6c6;
}
button .btn-dropdown-wrapper {
  display: none;
}

button:not(.disabled):hover .btn-dropdown-wrapper {
  display: block;
}
.btn-icon {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  padding: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #b99272;
  cursor: pointer;
  background: rgb(55 48 39);
  border: 1px solid #483d33;
  border-radius: 4px;
}
code {
  background: #423a35;
  padding: 5px;
  border: 1px solid #5a4735;
}

.link-like {
  color: #0096cd;
  cursor: pointer;
  text-decoration: underline;
  padding: 2px 0;
  word-break: break-all;
}
.link-like:hover {
  color: #2eb0df;
}

.overlay {
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
/* End Basic element styling */

/* Menu bar */
.menu-bar {
  background-color: #201c18;
  display: flex;
  padding: 5px;
}
.menu-bar__item {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 15px;
  border-radius: 3px;
  position: relative;
  cursor: default;
  color: var(--text-secondary-color);
}
.menu-bar__item:hover {
  background-color: #29241f;
}
.menu-bar__drop {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 7px;
  border-radius: 3px;
  width: fit-content;
  z-index: 10;
  background-color: #29241f;
  border: 1px solid #362f28;
}
.menu-bar__item:hover .menu-bar__drop {
  display: block;
}
.menu-bar__drop__item {
  padding: 7px 22px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 3px;
}
.menu-bar__drop__item:hover {
  background: #39322c;
}
/* End menu bar */
/* Nav pane */
.nav-pane {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: var(--pane-bg);
}
.nav-pane svg {
  cursor: pointer;
  color: #b99272;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.nav-pane svg.active {
  color: var(--active-primary-color);
}
.nav-pane svg:hover {
  background: hsl(33, 20%, 20%);
  border-color: hsl(33, 22%, 30%);
}

/* End Nav pane */
/* Tree pane */
.tree-pane {
  border-right: 1px solid #3c3026;
  padding: 10px;
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: var(--editor-bg);
}
/* End tree pane */
/* Terminal */
.term-col {
  position: relative;
}
.term-col__top {
  background-color: #302b24;
}
.term-wrapper {
  background-color: var(--editor-bg);
  padding: 15px;
  position: relative;
  border-top: 1px solid #3c3026;
}
.term-wrapper  .terminal {
  height: 100%;
}
/* End Terminal */
.editor {
  background-color: var(--editor-bg);
  position: relative;
  font-family: 'Cascadia Code';
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
}
/* CodeMirror */
.CodeMirror {
  background-color: var(--editor-bg) !important;
  background: var(--editor-bg) !important;
  color: var(--text-primary-color) !important;
  font-size: 19px;
  font-family: 'Cascadia Code' !important;
  height: 100% !important;
}
.cm-keyword {
  color: #35c16d !important;
}
.cm-number {
  color: #80caff !important;
}
.cm-atom {
  color: #ffb01f !important;
}
.cm-string {
  color: #2494c9 !important;
}
.cm-bracket {
  color: #896f54 !important;
}
.CodeMirror-cursor {
  border-color: rgb(90, 141, 204) !important;
  border-width: 2px !important;
}
.CodeMirror-selected {
  background-color: #0e4576 !important;
  color: white !important;
}
.CodeMirror-gutter {
  background-color: var(--editor-bg) !important;
}
.CodeMirror-gutters {
  border-width: 0 !important
}
.CodeMirror-linenumber {
  color: #584332 !important;
}

/* End CodeMirror */
/* spinner, taken from https://loading.io/css/ */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--active-secondary-color);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}



@keyframes headshake {

  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInTopRight {

  0% {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes shake-animation {
  0% { transform:translate(0,0) }
 1.78571% { transform:translate(5px,0) }
 3.57143% { transform:translate(0,0) }
 5.35714% { transform:translate(5px,0) }
 7.14286% { transform:translate(0,0) }
 8.92857% { transform:translate(5px,0) }
 10.71429% { transform:translate(0,0) }
 100% { transform:translate(0,0) }
}


/* FolderInput */
.folder-input-outer {
  position: relative;
  width: 100%;
}
.folder-input-icn {
  position: absolute;
  left: 10px;
  top: calc(50% - 10px);
}
.folder-clear-icn {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  cursor: pointer;
}
.folder-input-outer.disabled .folder-input-icn {
  opacity: 0.5;
}
.folder-input-outer.disabled .folder-clear-icn {
  display: none !important;
}
.folder-input-outer input {
  padding-left: 40px;
  padding-right: 35px;
}
/* End FolderInput */
/* LispFileNameInput */
.lisp-file-name-input-outer {
  position: relative;
  width: 100%;
}
.lisp-file-name-input-icn {
  position: absolute;
  left: 10px;
  top: calc(50% - 7px);
  font-size: 13px;
}
.lisp-file-name-input-outer.disabled .lisp-file-name-input-icn {
  opacity: 0.5;
}
.lisp-file-name-input-outer.disabled .lisp-file-name-clear-icn {
  display: none !important;
}
.lisp-file-name-clear-icn {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  cursor: pointer;
}
.lisp-file-name-input-outer input {
  padding-left: 40px;
  padding-right: 35px;
}

/* End LispFileNameInput */
/* LispValueInput */
.lisp-value-input-outer {
  position: relative;
  width: 100%;
}
.lisp-value-input-icn {
  position: absolute;
  left: 10px;
  top: calc(50% - 7px);
  font-size: 13px;
}
.lisp-value-input-outer input {
  padding-left: 40px;
  padding-right: 35px;
}
/* End LispValueInput */
/* FileNameInput */
.name-input-outer {
  position: relative;
  width: 100%;
}
.name-input-icn {
  position: absolute;
  left: 10px;
  top: calc(50% - 10px);
  height: 20px;
}
.name-clear-icn {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  cursor: pointer;
}
.name-input-outer input {
  padding-left: 40px;
  padding-right: 35px;
}
/* End FileNameInput */
/* SearchInput */
.search-input-outer {
  position: relative;
  width: 100%;
}
.search-input-icn {
  position: absolute;
  left: 10px;
  top: calc(50% - 10px);
  height: 20px;
}
.search-clear-icn {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  cursor: pointer;
}
.search-input-outer input {
  padding-left: 40px;
  padding-right: 35px;
}
.search-input-outer.small .search-input-icn {
  height: 14px;
  top: calc(50% - 7px);
}
.search-input-outer.small input {
  font-size: 14px;
}
/* End SearchInput */
/* Tabs */
.tab-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.tabs {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  border-bottom: 1px solid #3c3026;
  background-color: var(--editor-bg);
}
.tabs__header {
  padding: 8px  15px;
  cursor: pointer;
  background-color: #322b24;
  color: var(--text-secondary-color);
  display: flex;
  user-select: none;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}
.tabs__header:hover {
  background-color: #3a332c;
}
.tabs__header.active {
  background-color: #40372e;
  color: var(--text-primary-color);
}
.tabs__header > svg {
  /* visibility: hidden; */
  padding: 1px;
  margin-left: 10px;
  border-radius: 3px;
}
/* .tabs__header:hover > svg {
  visibility: visible;
} */
.tabs__header > svg:hover {
  background-color: #4e4840;
}
.tab-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}
/* End Tabs */
/* Settings */
.settings-cats {
  padding: 10px;
  flex: 0 0 200px;
  overflow: hidden;
  margin-right: 20px;
  border-right: 1px solid #483d33;
}
.settings-cats > div {
  padding: 10px 15px;
  cursor: pointer;
}
.settings-cats > div:hover {
  background-color: rgb(59, 53, 46);
}
.settings-cats > div.active {
  color: var(--active-primary-color);
  background-color: rgb(59, 53, 46);
}
.settings-item {
  padding: 10px;
}
.settings-item:hover {
  background-color: rgb(59, 53, 46);
}
.settings-item > div:first-child {
  font-weight: bold;
  user-select: none;
}
.settings-item > div:nth-child(2) {
  padding: 3px 0;
  user-select: none;
  white-space: nowrap;
  font-style: italic;
}
.settings-item > div:nth-child(3) {
  padding: 5px 0;
}


/* End settings */
.editor-term-sep {
  height: 100%;
  width: 2px;
  background: #3c3026;
  
}
.editor-term-sep:hover {
  cursor: ew-resize;
}
body.resizing  {
  cursor: ew-resize !important;
}
/* DebugOverlay */

.debug-overlay {
  position: absolute;
  top: 0;
  left: -450px;
  bottom: 0;
  width: 420px;
  padding: 15px;
  background: #302b24;
  z-index: 5;
  /* border: 1px solid #483d33; */
  border-radius: 5px;
}
.debug-overlay__restart {
  display: flex;
  align-items: stretch;
  cursor: pointer;
}
.debug-overlay__restart:hover {
  background-color: rgb(59, 53, 46);
}
.debug-overlay__restart > div {
  padding: 5px 10px;
  box-sizing: border-box;
}
.debug-overlay__restart > div:nth-child(1) {
  flex: 0 0 40px;
  color: var(--text-secondary-color);
}
.debug-overlay__restart > div:nth-child(2) {
  flex: 0 0 130px;
}
.debug-overlay__restart > div:nth-child(3) {
  flex: 1;
}
.debug-overlay__bottom-bar {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 11px;
  opacity: 0.3;
}


/* End DebugOverlay */
/* SearchPane */
.search-pane__search-option-btn {
  cursor: pointer;
  color: #b99272;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.search-pane__search-option-btn.active {
  color: var(--active-primary-color);
}
.search-pane__search-option-btn:hover {
  background: hsl(33, 20%, 20%);
  border-color: hsl(33, 22%, 30%);
}
.search-result-group summary {
  user-select: none;
  cursor: pointer;
  padding: 5px;
}
.search-result-group summary:hover::marker {
  color: var(--active-primary-color);
}
.search-result-group:hover {
  background: hsl(30deg 15% 16%);
}
.search-result-group .match {
  cursor: pointer;
  padding: 2px 2px 2px 20px;
}
.search-result-group .match:hover {
  background: hsl(33, 20%, 20%);
}
/* End SearchPane */
/* PackageBrowserPane */
.package-browser-section-header {
  background-color: var(--pane-bg);
  user-select: none;
  padding: 10px 20px;
  text-transform: uppercase;
  color: var(--text-secondary-color);
  font-weight: bold;
  border-left: 1px solid #403b35;
}
.package-browser-section-body {
  padding: 10px;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* End PackageBrowserPane */
/* Checkbox */
.cb-with-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}
.cb-with-label > svg {
  margin-left: 5px;
}
.cb-with-label:hover {
  color: var(--active-secondary-color);
}
/* End Checkbox */
